@mixin columns($numcolumns) {
  -webkit-column-count: $numcolumns; /* Chrome, Safari, Opera */
    -moz-column-count: $numcolumns; /* Firefox */
    	column-count: $numcolumns;
}
@mixin fade($scale) {
  -webkit-column-count: $scale; /* Chrome, Safari, Opera */
    -moz-column-count: $scale; /* Firefox */
    	column-count: $scale;
}
@mixin opacity($value){
	-webkit-transition: opacity $value ease-in;
	-moz-transition: opacity $value ease-in;
	transition: opacity $value ease-in;
}
@mixin gradient($value1,$value2){
	background: -moz-linear-gradient($value1,$value2);
	background: -webkit-linear-gradient($value1,$value2);
	background: -o-linear-gradient($value1,$value2);
}
@mixin radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($dimensions){
	-webkit-box-shadow: $dimensions;
	-moz-box-shadow: $dimensions;
	box-shadow: $dimensions;
}
// @mixin scale($size){

//     -webkit-transform: scale($size); Safari
//     -moz-box-shadow: scale($size);
//     transform: scale($size);
// }