$orange         : #BD3613;
$blue           : #2176C7;
$green 			: #009180;
$black 			: #000000;
$idk			: #18bc9c;

$font-name: Vollkorn, serif;
$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;
$default-height : 200px; //do i need this?
$default-width  : 200px;
$default-border-radius : 10px;