$orange         : #BD3613;
$blue           : #408DD2;
$green 			: #009180;
$black 			: #000000;
$idk			: #18bc9c;
$white			:#f6f6f6;


// DREAM TEAM COLOR SCHEME
$dark-gray      :#c9c9c9;
$white-gray 	:#e3e3e3;

/** Dental clinic scheme */
$darker-gray	:#4d5256;
$light-gray		:#e1e5ee;
$mid-gray 		:#707880;

/*Dream team */
$dark-blue 		:#9ad3de;
$light-blue		:#89bdd3;
//$light-blue		:#6ed3cf;


/**L'Avenir, Dental Clini Color scheme*/
$purple			:#9068be;
$gray 			:#e1e8f0;
$red   			:#e62739;




$font-name		: Vollkorn, serif;
$font-primary	: Merriweather, serif;
$font-secondary	: Bree Serif, serif;
$default-height : 200px; //do i need this?
$default-width  : 200px;
$default-border-radius : 10px;

$navbar-height	: 60px; 
$navbar-shrink  : 40px;