@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";

/*
For help getting fixed nav bar
https://www.youtube.com/watch?v=_ovlvYH782c
http://sixrevisions.com/css/fixed-navigation-bar/
*/
/* Color variables
$orange         : #BD3613;
$blue           : #2176C7;
$green 			: #009180;
$black 			: #000000;
$idk			: #18bc9c;
*/
nav{
	
	.nav-bar  {
		display: table;
		position: fixed;
		top: 0;
		left: 0;
		height: $navbar-height;
		width: 100%;
		font-family: $font-name;
		background: $darker-gray;
	  	font-size: 1.2rem;
	  	z-index: 10;
    	ul {

			margin: 0;
			padding: 0;
			a.highlight {
    			background-color: $blue;
			}
		}
		li{
			float: right;
			text-decoration: none;	
		}
		a {
			/**
			Vertically centered text hack PLS FIX
			*/
			display: table-cell;
     		vertical-align: middle;
			line-height: 40px; 

			float: left;
			font-weight: bold;
			text-decoration: none;
			display: block;
			padding: 10px 20px;
			&:link{
				color: $white;
			}
			&:visited{
				color: $white;
			}
			&:hover {
				background-color: $blue;
				//color: #FFFFFF;
			}
		}
	}
}
nav.shrink .nav-bar{
	display: table;
	height: $navbar-shrink;
	
	font-size: 1.2rem;
	a{
		//display: table-cell;
		display:inline;
  		vertical-align:middle;
  		line-height: 20px; 
  		// PLS HELP WITH THE SUPER JANKINESS
	}
}

header{
	
	//For how to fit background image in div
	// http://stackoverflow.com/questions/8200204/fit-background-image-to-div
	//background-color: $orange;
	height: 400px;
	background-image: url('../media/ski-view.jpg');
	background-color: rgba(100,100,100,.7);
	background-size: cover;
	background-attachment: fixed;
	padding-top: 20px;
	h1{
		font-size: 5rem;
		font-family: 'Pacifico', cursive;
		//font-family: $font-name;
		padding-bottom: 20px;
		display: block;
		margin: 0 auto;
	}
	.content {
		.profile-picture {
			display: block;
			margin: 0 auto;
			width: 200px;
			height: 200px;
			border-radius: 50%;
			border-color: $black;
		}
	}

	span{
		display: block;
		text-align: center;
		text-transform: uppercase;
		font-size: 2em;
		font-family: Copperplate, sans-serif;


	}
}
footer{

	// Use mixin
	background: $darker-gray;
	// background-color: $gray
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background: url('../media/grey_wash_wall.png');
	.connect{ 
	    a {
	    	display: inline-block;
			text-decoration: none;
			// display: block;
			// text-align: center;
			// float: left;
			padding: 10px 5px;
		}
	}
	h1{
		font-weight: bold;
	}


}

.container{
	width: 100%;
	padding-top: $navbar-height;
	/* Modal code */

}
.AboutMe{
	/*
	CHANG TO MIXINS
	*/
	font-family: Copperplate, sans-serif;
   	background-color: $dark-gray;
   	width: 100%;
   	@include columns(3);
   	text-align: center;
   	p{
   		text-align: center;
   		font-size: 1em;
   	}
	h1{
		font-family: Copperplate, sans-serif;
		//font-family: $font-name;
		font-weight: bold;
		text-align: center;
		font-size: 1.5em;
	}
	background-color: $white-gray;
	.text-content{
		padding-left: 8%;
		padding-right: 8%;
		padding-top: 2%;
	}

}
.Education{
	width: 100%;
	background-color: $dark-blue;
}
.Experience{
	width: 100%;
	background-color: $light-blue;
	.title{
		text-align: center;
		font-family: $font-header;
		font-weight: bold;
		font-size: 2em;
		padding-top: 10px;
	}
}
.Books{
	#Title{
		text-align: center;
		font-family: $font-header;
		font-weight: bold;
		font-size: 2em;
		padding-top: 10px;
	}
	width: 100%;
	background-color: $white-gray;
	.Top3{

		.Links{
			width: 100%;
			@include columns(3);
			text-align: center;
		}
		img{
			height: 300px;
			width: 200px;
		}
	}
}
.video{
	background-color: $light-blue;
	width: 100%;
	source{
		width: 100%;
	}
}
.Book1,.Book2,.Book3{
	img{
		border-radius: 25px;
	    padding: 20px; 
	    width: 200px;
	    height: 150px; 
	}
	
}
.multi-column-footer{
	width: 100%;
	display: table;
 	a{
 		&:hover{
 			@include scale(1.3);
 			//https://productforums.google.com/forum/#!topic/chrome/w4YlFvEMQNw
 			-webkit-transition: transform 1s ease-in-out;
            -moz-transition: transform 1s ease-in-out;
            transition: transform 1s ease-in-out;
 			
 		}
	}
	.connect{
		display: table-cell;
 		vertical-align: middle; 
	}

}
.books{

	text-align: center;
	font-weight: bold;
	position: fixed;
	font-family: $font-primary;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 0;
	@include opacity(400ms);
	pointer-events: none;
	&:target{
		opacity: 1;
		pointer-events: auto;
	}
	& > div{
		width: 400px;
		position: relative;
		margin: 10% auto;
		padding: 5px 20px 13px 20px;
		border-radius: 10px;
		background-color: #fff;
		@include gradient(#fff,#999);
		
	}
}
//http://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	@include radius(12px);
	@include box-shadow(1px 1px 3px #000);
	&:hover{
		background: #00d9ff;
	}	
}


/***********************************
************************************/
/*CAROUSEL CSS*/
.title{
	text-align: center;
}
.carousel {
  //font-family: $font-primary;
  //font-size: 14px;
  width: 100%;
  position: relative;
  //background-color: $gray;
  //margin: 1em;
  //box-shadow: 2px 2px 10px #ccc;
  overflow: hidden;
  button{
  	 border: none;
  	 display: none;
  }
}
.content {
	margin: 0;
	padding: 0;
	li{
		h1{
	  		font-family: $font-header;
	  		font-size: 2em;

	  	}
	  	h2{
	  		font-family: $font-header;
	  		font-size: 1.5em;
	  	}

	  	p{
	  		font-family: $font-header;
	  		font-size: 1em;
	  	}
		margin: 0;
		padding: 0;
		width: 100%;
		list-style: none;
		text-align: center;
  }
}
// .content li {
//   font-family: $font-secondary;
//   font-size: 20px;
//   margin: 0;
//   padding: 0;
//   width: 100%;
//   list-style: none;
//   text-align: center;
// }

// .content {
//   margin: 0;
//   padding: 0;
// }
// .content li {
//   font-family: $font-secondary;
//   font-size: 20px;
//   margin: 0;
//   padding: 0;
//   width: 100%;
//   list-style: none;
//   text-align: center;
// }
// .active {
//   height: 130px;

// }
// .active li {
//   position: absolute;
//   top: 200px;
// }
// .active li.current {

//   top: 30px;
// }
.active {
  height: 200px;
  li{
  	position: absolute;
  	top: 200px;
  }
  li.current{
  	top: 30px;
  }
  .buttons{
	  //background: $darker-gray;
	  text-align: center;
	  //z-index: 10;
	  position: relative;
  }
  button{
  	display: block;
  }
}


// .active .buttons {
//   //background: $darker-gray;
//   text-align: center;
//   //z-index: 10;
//   position: relative;
// }
// .carousel button {
//   border: none;
//   display: none;
// }
// .active button {
//   display: block;
// } 
.prev{
  background-color: $light-blue;
  // border-top-left-radius: 10px 5px;
  // border-bottom-left-radius: 10px 5px;
  float: left;
}
.next{
  background-color: $light-blue;

  float:right;
}
.cover{
	width: 100%;
}
